.order-item {
	display: flex;
	overflow: hidden;
	align-items: center;
	margin-bottom: 16px;
}

.order-item > * {
	margin-right: 8px;
}

.order-item > *:last-child {
	margin-right: 0;
}

.order-item__image {
	width: 60px;
	height: 60px;
	flex-shrink: 0;
}

.order-item__name {
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.order-item__total {
	flex-shrink: 0;
	width: 90px;
	text-align: right;
}

@media screen and (max-width: 480px) {
	.order-item__image {
		display: none;
	}
}